In [ ]:
import pandas as pd
import os
import kagglehub
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("AlzheimersDataset").getOrCreate()

# Download the latest version of the dataset
dataset_path = kagglehub.dataset_download("rabieelkharoua/alzheimers-disease-dataset")

print("Dataset path:", dataset_path)

# List files in the dataset directory
files = os.listdir(dataset_path)
print("Files in dataset:", files)

# Choose the correct CSV file (replace 'your_file.csv' with the actual file name)
csv_file = [f for f in files if f.endswith('.csv')]
if not csv_file:
    raise FileNotFoundError("No CSV file found in the dataset directory.")
csv_file_path = os.path.join(dataset_path, csv_file[0])

# Load the CSV file into a Spark DataFrame
df_spark = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Display the first few rows
df_spark.show(5)

df = df_spark.toPandas()

WARNING:tensorflow:From c:\Users\qjone\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Dataset path: C:\Users\qjone\.cache\kagglehub\datasets\rabieelkharoua\alzheimers-disease-dataset\versions\1
Files in dataset: ['alzheimers_disease_data.csv']
+---------+---+------+---------+--------------+------------------+-------+------------------+-----------------+------------------+-----------------+-----------------------+---------------------+--------+----------+----------+------------+----------+-----------+------------------+-----------------+-----------------+------------------------+------------------+--------------------+----------------+------------------+--------------------+---------+--------------+------------------+-------------------------+-------------+---------+--------------+
|PatientID|Age|Gender|Ethnicity|EducationLevel|               BMI|Smoking|AlcoholConsumption| PhysicalActivity|       DietQuality|     SleepQuality|FamilyHistoryAlzheimers|CardiovascularDisease|Diabetes|Depression|HeadInjury|Hypertension|SystolicBP|DiastolicBP|  CholesterolTotal|   CholesterolLDL|   CholesterolHDL|CholesterolTriglycerides|              MMSE|FunctionalAssessment|MemoryComplaints|BehavioralProblems|                 ADL|Confusion|Disorientation|PersonalityChanges|DifficultyCompletingTasks|Forgetfulness|Diagnosis|DoctorInCharge|
+---------+---+------+---------+--------------+------------------+-------+------------------+-----------------+------------------+-----------------+-----------------------+---------------------+--------+----------+----------+------------+----------+-----------+------------------+-----------------+-----------------+------------------------+------------------+--------------------+----------------+------------------+--------------------+---------+--------------+------------------+-------------------------+-------------+---------+--------------+
|     4751| 73|     0|        0|             2|22.927749230993864|      0| 13.29721772827684|6.327112473553353|1.3472143059081076|9.025678665766115|                      0|                    0|       1|         1|         0|           0|       142|         72|242.36683969636556|56.15089696091113|33.68256349839592|      162.18914307736603| 21.46353236431666|   6.518876973217633|               0|                 0|  1.7258834599441897|        0|             0|                 0|                        1|            0|        0|     XXXConfid|
|     4752| 89|     0|        0|             0| 26.82768119159602|      0|4.5425238177221905|7.619884540163032|0.5187671386507053|7.151292743051223|                      0|                    0|       0|         0|         0|           0|       115|         64|231.16259501016503|193.4079955157258|79.02847731570753|      294.63090921495643|20.613267308882918|   7.118695504189474|               0|                 0|  2.5924241326736475|        0|             0|                 0|                        0|            1|        0|     XXXConfid|
|     4753| 73|     0|        3|             1|17.795882442817113|      0| 19.55508452555359|7.844987790974517| 1.826334664579784|9.673574157961111|                      1|                    0|       0|         0|         0|           0|        99|        116| 284.1818577646338|153.3227621844376|69.77229186479597|       83.63832413899468| 7.356248624670334|   5.895077345354194|               0|                 0|   7.119547742738579|        0|             1|                 0|                        1|            0|        0|     XXXConfid|
|     4754| 74|     1|        0|             1| 33.80081704413547|      1|12.209265546203783|8.428001350491492|  7.43560414000302|8.392553685350862|                      0|                    0|       0|         0|         0|           0|       118|        115|159.58223960561193|65.36663683521382|68.45749070794797|       277.5773575001914|13.991127243891668|   8.965106303658107|               0|                 1|    6.48122585936608|        0|             0|                 0|                        0|            0|        0|     XXXConfid|
|     4755| 89|     0|        0|             0|20.716973826446807|      0|18.454356090619612|6.310460689360432|0.7954975089177474|5.597237677578526|                      0|                    0|       0|         0|         0|           0|        94|        117| 237.6021836280377| 92.8696998816807|56.87430466708379|       291.1987801806695|13.517608895586092|   6.045038774287464|               0|                 0|0.014691221285652034|        0|             0|                 1|                        1|            0|        0|     XXXConfid|
+---------+---+------+---------+--------------+------------------+-------+------------------+-----------------+------------------+-----------------+-----------------------+---------------------+--------+----------+----------+------------+----------+-----------+------------------+-----------------+-----------------+------------------------+------------------+--------------------+----------------+------------------+--------------------+---------+--------------+------------------+-------------------------+-------------+---------+--------------+
only showing top 5 rows

In [3]:
df = df_spark.toPandas()

In [4]:
# Check dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149 entries, 0 to 2148
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PatientID                  2149 non-null   int32
 1   Age                        2149 non-null   int32
 2   Gender                     2149 non-null   int32
 3   Ethnicity                  2149 non-null   int32
 4   EducationLevel             2149 non-null   int32
 5   BMI                        2149 non-null   float64
 6   Smoking                    2149 non-null   int32
 7   AlcoholConsumption         2149 non-null   float64
 8   PhysicalActivity           2149 non-null   float64
 9   DietQuality                2149 non-null   float64
 10  SleepQuality               2149 non-null   float64
 11  FamilyHistoryAlzheimers    2149 non-null   int32
 12  CardiovascularDisease      2149 non-null   int32
 13  Diabetes                   2149 non-null   int32
 14  Depression                 2149 non-null   int32
 15  HeadInjury                 2149 non-null   int32
 16  Hypertension               2149 non-null   int32
 17  SystolicBP                 2149 non-null   int32
 18  DiastolicBP                2149 non-null   int32
 19  CholesterolTotal           2149 non-null   float64
 20  CholesterolLDL             2149 non-null   float64
 21  CholesterolHDL             2149 non-null   float64
 22  CholesterolTriglycerides   2149 non-null   float64
 23  MMSE                       2149 non-null   float64
 24  FunctionalAssessment       2149 non-null   float64
 25  MemoryComplaints           2149 non-null   int32
 26  BehavioralProblems         2149 non-null   int32
 27  ADL                        2149 non-null   float64
 28  Confusion                  2149 non-null   int32
 29  Disorientation             2149 non-null   int32
 30  PersonalityChanges         2149 non-null   int32
 31  DifficultyCompletingTasks  2149 non-null   int32
 32  Forgetfulness              2149 non-null   int32
 33  Diagnosis                  2149 non-null   int32
 34  DoctorInCharge             2149 non-null   object
dtypes: float64(12), int32(22), object(1)
memory usage: 403.1+ KB

We can see that there are no missing values and the dataset seems to be clean. Let's dig a little deeper to confirm these suspicions

In [5]:
# Check column value counts
all_columns = df.columns.tolist()

for column in all_columns:
    print(f'These are the value counts for the column named: {column}')
    print(df[column].value_counts())

These are the value counts for the column named: PatientID
PatientID
4751    1
6179    1
6193    1
6192    1
6191    1
       ..
5462    1
5461    1
5460    1
5459    1
6899    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: Age
Age
88    84
68    84
72    82
76    81
71    80
90    79
67    77
60    74
70    74
66    73
89    72
77    72
78    72
84    71
83    71
62    70
63    69
80    68
61    68
87    68
82    68
73    66
65    64
75    64
69    63
64    59
79    57
85    57
81    57
74    55
86    50
Name: count, dtype: int64
These are the value counts for the column named: Gender
Gender
1    1088
0    1061
Name: count, dtype: int64
These are the value counts for the column named: Ethnicity
Ethnicity
0    1278
1     454
3     211
2     206
Name: count, dtype: int64
These are the value counts for the column named: EducationLevel
EducationLevel
1    854
2    636
0    446
3    213
Name: count, dtype: int64
These are the value counts for the column named: BMI
BMI
22.927749    1
37.002439    1
29.549056    1
23.715891    1
26.197217    1
            ..
20.352158    1
36.970870    1
28.204418    1
26.313938    1
33.289738    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: Smoking
Smoking
0    1529
1     620
Name: count, dtype: int64
These are the value counts for the column named: AlcoholConsumption
AlcoholConsumption
13.297218    1
12.324126    1
0.697864     1
12.339372    1
6.459403     1
            ..
16.789335    1
10.962042    1
10.645084    1
8.059143     1
7.890703     1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: PhysicalActivity
PhysicalActivity
6.327112    1
2.450198    1
2.749494    1
5.970801    1
0.423189    1
           ..
3.376786    1
3.556076    1
6.876926    1
8.623144    1
6.570993    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: DietQuality
DietQuality
1.347214    1
7.014414    1
8.522937    1
1.625098    1
2.315880    1
           ..
1.736764    1
9.822954    1
3.956355    1
4.027420    1
7.941404    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: SleepQuality
SleepQuality
9.025679    1
5.303641    1
9.988452    1
8.944899    1
7.014251    1
           ..
7.633571    1
8.099905    1
9.300057    1
6.734356    1
9.878711    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: FamilyHistoryAlzheimers
FamilyHistoryAlzheimers
0    1607
1     542
Name: count, dtype: int64
These are the value counts for the column named: CardiovascularDisease
CardiovascularDisease
0    1839
1     310
Name: count, dtype: int64
These are the value counts for the column named: Diabetes
Diabetes
0    1825
1     324
Name: count, dtype: int64
These are the value counts for the column named: Depression
Depression
0    1718
1     431
Name: count, dtype: int64
These are the value counts for the column named: HeadInjury
HeadInjury
0    1950
1     199
Name: count, dtype: int64
These are the value counts for the column named: Hypertension
Hypertension
0    1829
1     320
Name: count, dtype: int64
These are the value counts for the column named: SystolicBP
SystolicBP
155    37
106    34
126    34
130    33
165    33
       ..
115    16
168    15
123    14
167    13
173    11
Name: count, Length: 90, dtype: int64
These are the value counts for the column named: DiastolicBP
DiastolicBP
61     53
62     47
116    46
102    46
103    45
64     44
100    43
71     43
107    42
87     41
78     40
79     40
96     39
106    39
109    39
75     38
104    38
112    38
111    38
119    38
69     38
93     38
105    37
85     37
98     37
94     37
114    36
65     36
113    36
108    35
76     35
63     35
118    35
115    35
90     35
91     34
110    34
74     34
67     34
70     34
72     33
95     33
92     33
117    33
88     33
83     32
86     32
84     32
99     32
82     31
97     31
77     31
81     30
101    29
68     28
73     28
60     26
66     25
80     25
89     23
Name: count, dtype: int64
These are the value counts for the column named: CholesterolTotal
CholesterolTotal
242.366840    1
260.590950    1
164.533549    1
264.404026    1
168.194314    1
             ..
191.215657    1
192.952427    1
293.453436    1
197.730957    1
283.396797    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: CholesterolLDL
CholesterolLDL
56.150897     1
55.145543     1
151.153560    1
129.289742    1
148.683449    1
             ..
108.134459    1
183.491038    1
142.683503    1
173.167872    1
92.200064     1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: CholesterolHDL
CholesterolHDL
33.682563    1
73.545733    1
24.108264    1
54.412205    1
33.355888    1
            ..
62.648791    1
47.097402    1
58.784750    1
91.573272    1
81.920043    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: CholesterolTriglycerides
CholesterolTriglycerides
162.189143    1
227.759321    1
365.629832    1
150.058612    1
184.544823    1
             ..
232.687493    1
227.711743    1
117.950050    1
370.682973    1
217.396873    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: MMSE
MMSE
21.463532    1
15.219490    1
25.157864    1
24.098345    1
8.430877     1
            ..
21.986095    1
29.118817    1
26.837096    1
3.765232     1
11.114777    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: FunctionalAssessment
FunctionalAssessment
6.518877    1
6.838303    1
6.491645    1
7.021784    1
5.906680    1
           ..
4.496684    1
3.242755    1
3.122554    1
7.404631    1
6.307543    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: MemoryComplaints
MemoryComplaints
0    1702
1     447
Name: count, dtype: int64
These are the value counts for the column named: BehavioralProblems
BehavioralProblems
0    1812
1     337
Name: count, dtype: int64
These are the value counts for the column named: ADL
ADL
1.725883    1
1.965029    1
0.218199    1
2.744058    1
3.082306    1
           ..
6.747443    1
6.484365    1
4.801802    1
9.124760    1
8.327563    1
Name: count, Length: 2149, dtype: int64
These are the value counts for the column named: Confusion
Confusion
0    1708
1     441
Name: count, dtype: int64
These are the value counts for the column named: Disorientation
Disorientation
0    1809
1     340
Name: count, dtype: int64
These are the value counts for the column named: PersonalityChanges
PersonalityChanges
0    1825
1     324
Name: count, dtype: int64
These are the value counts for the column named: DifficultyCompletingTasks
DifficultyCompletingTasks
0    1808
1     341
Name: count, dtype: int64
These are the value counts for the column named: Forgetfulness
Forgetfulness
0    1501
1     648
Name: count, dtype: int64
These are the value counts for the column named: Diagnosis
Diagnosis
0    1389
1     760
Name: count, dtype: int64
These are the value counts for the column named: DoctorInCharge
DoctorInCharge
XXXConfid    2149
Name: count, dtype: int64

We can see that there are two columns that don't immediately look like they would be beneficial in our model training. These two columns are: "DoctorInCharge" because there is only one value in the entire column and "PatientID" becasue this columns is a non-benneficial identifier column. Futhermore, we are dropping the only column that is an object. Thus our data is mostly clean and has the correct datatypes for model training.

In [7]:
# Make a copy of the dataframe for dropping uneeded columns
clean_df = df.copy()

# Drop the two non-benificial columns 
clean_df = clean_df.drop(columns=['DoctorInCharge', 'PatientID'])

# Make sure teh columns were dropped
clean_df.columns.to_list()

['Age',
 'Gender',
 'Ethnicity',
 'EducationLevel',
 'BMI',
 'Smoking',
 'AlcoholConsumption',
 'PhysicalActivity',
 'DietQuality',
 'SleepQuality',
 'FamilyHistoryAlzheimers',
 'CardiovascularDisease',
 'Diabetes',
 'Depression',
 'HeadInjury',
 'Hypertension',
 'SystolicBP',
 'DiastolicBP',
 'CholesterolTotal',
 'CholesterolLDL',
 'CholesterolHDL',
 'CholesterolTriglycerides',
 'MMSE',
 'FunctionalAssessment',
 'MemoryComplaints',
 'BehavioralProblems',
 'ADL',
 'Confusion',
 'Disorientation',
 'PersonalityChanges',
 'DifficultyCompletingTasks',
 'Forgetfulness',
 'Diagnosis']

With a cleaned dataframe, we can now do a short exploratory analysis before training our model to try and find any other pieces of information that might be helpful.

In [20]:
# Declare a variable to hold all the columns that have a range of values
clean_columns = ['BMI',
                 'AlcoholConsumption',
                 'PhysicalActivity',
                 'DietQuality',
                 'SleepQuality', 
                 'CholesterolTotal',
                 'CholesterolLDL',
                 'CholesterolHDL',
                 'CholesterolTriglycerides', 
                 'MMSE',
                 'FunctionalAssessment',
                 'ADL']


for column in clean_columns:
    print(f'The min/max values for {column} are:')
    print(f'Min: {clean_df[column].min()}')
    print(f'Max: {clean_df[column].max()}')
    print('---------------------------------------')

The min/max values for BMI are:
Min: 15.008851181631059
Max: 39.99276746402374
---------------------------------------
The min/max values for AlcoholConsumption are:
Min: 0.0020030991362718353
Max: 19.98929335906197
---------------------------------------
The min/max values for PhysicalActivity are:
Min: 0.003616016826019086
Max: 9.987429413422253
---------------------------------------
The min/max values for DietQuality are:
Min: 0.009384720116230039
Max: 9.99834567881401
---------------------------------------
The min/max values for SleepQuality are:
Min: 4.002628659826611
Max: 9.99984031668144
---------------------------------------
The min/max values for CholesterolTotal are:
Min: 150.09331559406317
Max: 299.99335247432657
---------------------------------------
The min/max values for CholesterolLDL are:
Min: 50.23070655980742
Max: 199.96566510142804
---------------------------------------
The min/max values for CholesterolHDL are:
Min: 20.00343401498445
Max: 99.98032407804152
---------------------------------------
The min/max values for CholesterolTriglycerides are:
Min: 50.40719361978579
Max: 399.94186159413323
---------------------------------------
The min/max values for MMSE are:
Min: 0.005312146441700527
Max: 29.991380560529063
---------------------------------------
The min/max values for FunctionalAssessment are:
Min: 0.0004595935958040531
Max: 9.996467072555017
---------------------------------------
The min/max values for ADL are:
Min: 0.0012879277024868685
Max: 9.99974712180168
---------------------------------------

In [18]:
# Create a new dataframe
non_binary_df = clean_df[clean_columns]

# check the new df
non_binary_df.head()

,BMI,AlcoholConsumption,PhysicalActivity,DietQuality,SleepQuality,CholesterolTotal,CholesterolLDL,CholesterolHDL,CholesterolTriglycerides,MMSE,FunctionalAssessment,ADL
0,22.927749,13.297218,6.327112,1.347214,9.025679,242.366840,56.150897,33.682563,162.189143,21.463532,6.518877,1.725883
1,26.827681,4.542524,7.619885,0.518767,7.151293,231.162595,193.407996,79.028477,294.630909,20.613267,7.118696,2.592424
2,17.795882,19.555085,7.844988,1.826335,9.673574,284.181858,153.322762,69.772292,83.638324,7.356249,5.895077,7.119548
3,33.800817,12.209266,8.428001,7.435604,8.392554,159.582240,65.366637,68.457491,277.577358,13.991127,8.965106,6.481226
4,20.716974,18.454356,6.310461,0.795498,5.597238,237.602184,92.869700,56.874305,291.198780,13.517609,6.045039,0.014691

In [19]:
# Run the Describe method on the new dataframe
non_binary_df.describe()

,BMI,AlcoholConsumption,PhysicalActivity,DietQuality,SleepQuality,CholesterolTotal,CholesterolLDL,CholesterolHDL,CholesterolTriglycerides,MMSE,FunctionalAssessment,ADL
count,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000,2149.000000
mean,27.655697,10.039442,4.920202,4.993138,7.051081,225.197519,124.335944,59.463533,228.281496,14.755132,5.080055,4.982958
std,7.217438,5.757910,2.857191,2.909055,1.763573,42.542233,43.366584,23.139174,101.986721,8.613151,2.892743,2.949775
min,15.008851,0.002003,0.003616,0.009385,4.002629,150.093316,50.230707,20.003434,50.407194,0.005312,0.000460,0.001288
25%,21.611408,5.139810,2.570626,2.458455,5.482997,190.252963,87.195798,39.095698,137.583222,7.167602,2.566281,2.342836
50%,27.823924,9.934412,4.766424,5.076087,7.115646,225.086430,123.342593,59.768237,230.301983,14.441660,5.094439,5.038973
75%,33.869778,15.157931,7.427899,7.558625,8.562521,262.031657,161.733733,78.939050,314.839046,22.161028,7.546981,7.581490
max,39.992767,19.989293,9.987429,9.998346,9.999840,299.993352,199.965665,99.980324,399.941862,29.991381,9.996467,9.999747

Everything looks good. We will now export our clean DataFrame into a csv file for model training.

In [22]:
clean_df.to_csv('Data/cleaned_alzheimers_dataset')